
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
}

/* th {
  background-color: #f2f2f2;
} */

.chess-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Space between chessboard and move list */
}

.chessboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-list-container {
  max-height: 400px; /* Set a fixed height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}
